/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;



 body {

 }

h1, h2, h3, h4, h5 ,h6 {
    line-height: 120%;
}

.deep {
    z-index: 999999999999999;
}

.sticky-thc {
    position: sticky;
    top: 0;
    z-index: 9999999999;
  }

  .bkg {
 background-image: url("/bkg.png");
  background-repeat: no-repeat, repeat;
      background-position: bottom right; /* Center the image */
  }