/* purgecss start ignore */
@tailwind base;
@tailwind components;

@tailwind utilities;

body {
  color: $text-dark-950;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

html {
  scroll-behavior: smooth;
}

.deep {
  z-index: 999999999999999;
}

.sticky-thc {
  position: sticky;
  top: 0;
  z-index: 999;
}

@media print {
  p {
    widows: 3;
  }
}

.bkg-left {
  background-image: url("/img/bkg-swirl.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom left; /* Center the image */
  background-blend-mode: overlay;
}

.bkg-right {
  background-image: url("/img/bkg-swirl.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom right; /* Center the image */
  background-blend-mode: overlay;
}

.bkg-magic {
  background-image: url("/img/bkg-magic.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom right; /* Center the image */
  background-blend-mode: overlay;
}

:focus-visible {
  outline: 0px;
}

.slider {
  height: 58px;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after {
  position: absolute;

  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  width: calc(158px * 20);
  display: flex;
  animation: scroll 40s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(158px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 158px;
  height: 60px;

  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.slide:hover {
  transform: scale(0.8);
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-158px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-158px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

.whr-group {
  color: #252d6c;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.whr-title a {
  color: #4363f9;
}

.whr-items {
  font-size: 16px;
}
